html
  head
    title Tietoa
    link(rel="stylesheet" href="./assets/normalize.css")
    link(rel="stylesheet" href="./assets/skeleton.css")
    link(href='.assets/favicon.ico', rel='icon')
    link(rel="stylesheet" href="./assets/main.css")


  body
    nav.menu
      .container
        .row
          .six.columns
            h2 Luontoruno
          .six.columns
            a(href="/" class="pull-right") Tee oma metsärunosi
            a(href="/galleria" class="pull-right") Selaa runoja

        .row
          h3 Tietoa
          p Jos haluat poistaa runosi, ole hyvä ja ota yhteyttä <a href="mailto:ronja@sisuisa.fi">ronja@sisuisa.fi</a>
          p Taustakuvat: <a href="https://unsplash.com/">Unsplash.com</a>
