.img-grid {
  padding: 3em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.img-grid img {
  width: 800px;
  height: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #ccc;
}

.gallery {
 margin: 0 auto !important;
 padding-bottom: 2em;
}

.menu {
  padding-top: 2em;
}

.pull-right {
  float: right;
  margin-left: 1em;
}

.next, .prev {
  padding: 1em;
  display: inline-block;
  margin-bottom: 2em;
}

.center {
  text-align: center;
}

.btn-pagination {
  margin: 0.5em;
  padding: 0;
}

.btn-pagination a {
  width: 100px !important;
  font-size: 16px;
  display: inline-block;
}
